language: python
python:
  - "2.7"
before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - chmod +x miniconda.sh
  - bash miniconda.sh -b
  - export PATH="$HOME/miniconda2/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update --yes conda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
install:
  - conda install --yes --file requirements.txt 
  - pip install coveralls
  - python setup.py install 

script: 
  - python setup.py test --addopts "tests --cov pyscaffold --cov-report term-missing" --verbose

after_success:
  coveralls --config_file .coveragrc
